
  .dg{
    background-color: rgb(23 51 33) !important;
  }
  
.footer-widget p{
    position: relative;
    top: 20px;
}
.a:hover {
  transform: none !important;
  background-color: inherit !important;
  box-shadow: none !important;
}
